Github Connection
{
  "updatedAt": "2026-02-07T06:53:37.253Z",
  "createdAt": "2026-02-06T10:44:26.502Z",
  "id": "MdRN-v7nE_c1XgM51NgHH",
  "name": "Github Connection",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        16
      ],
      "id": "0ecb669b-a1f7-4e3e-9ff9-1bf653fbd091",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -208,
        16
      ],
      "id": "80560d0b-3dd4-4996-8603-13ed29e982d5",
      "name": "Get a workflow version",
      "credentials": {
        "n8nApi": {
          "id": "iuIrpEbjo3buUjMk",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/sahil-devhub",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_poc",
          "mode": "list",
          "cachedResultName": "n8n_poc",
          "cachedResultUrl": "https://github.com/sahil-devhub/n8n_poc"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": " new updated workflow"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        16
      ],
      "id": "732c336b-b6a8-4bbc-b8aa-47aae72ef355",
      "name": "Create a file",
      "webhookId": "1ef5d59a-9e76-40d2-aaa2-fc85a7d76187",
      "credentials": {
        "githubApi": {
          "id": "IA1Mv7sKmgLIFgPy",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a workflow version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a workflow version": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "76f2d67e-d632-4c1a-93fa-576eedc46ba5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T10:44:26.517Z",
      "createdAt": "2026-02-06T10:44:26.517Z",
      "role": "workflow:owner",
      "workflowId": "MdRN-v7nE_c1XgM51NgHH",
      "projectId": "UuZPCWkDTuWJ0Efj"
    }
  ],
  "activeVersion": null,
  "tags": []
}